.modal_down {
  color: $color-text-light;
  strong {
    color: $color-text;
  }
}

.modal_icon {
  font-size: 60px;
  text-align: center;
}

.form-control{
  &.error{
    border: solid 1px $color-red;
  }
 
}